<div class="table-box">
  <h2>New Entry</h2>

  <form hx-post="/entries/add"
        hx-target=".content"
        hx-swap="innerHTML"
        hx-encoding="multipart/form-data"
        enctype="multipart/form-data">

    <label>Name:
      <input class="form-input" type="text" name="name" required>
    </label>

    <label>Rating:
      <input class="form-input" type="number" name="rating" min="1" max="10">
    </label>

    <label>Category:
      <select class="form-input" name="category_id" required>
        {{ range .Categories }}
          <option value="{{ .ID }}"
            {{ if eq .ID $.CategoryID }}selected{{ end }}>
            {{ .Name }}
          </option>
        {{ end }}
      </select>
    </label>


    <div class="form-group">
      <label>Tags:</label>

      <div class="tag-select">
        <!-- Selected tags -->
        <div class="tag-input" tabindex="0">
          <div id="selected-tags" class="tag-chips"></div>
          <input type="text" placeholder="Add tag…" class="tag-search">
        </div>

        <!-- Dropdown -->
        <div class="tag-dropdown">
          {{ range .Tags }}
            <div class="tag-option" data-id="{{ .ID }}">
              {{ .Name }}
            </div>
          {{ end }}
        </div>

        <input type="hidden" name="tags" id="tags-input">
      </div>
    </div>

    <label>
      Image:
      {{ if .Entry.ImagePath }}
        <div id="entry-image">
          {{ template "entry_image" . }}
        </div>
      {{ end }}

      <input type="file"
            name="image"
            accept="image/*">
    </label>

    <div class="actions">
      <button class="form-input add-btn" type="submit">Add</button>
      <button class="form-input"
              hx-get="/"
              hx-target=".content"
              hx-swap="innerHTML"
              type="button">Cancel</button>
    </div>
  </form>
</div>
